{% extends 'base.html.twig' %}

{% block title %}Je peux aider{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Je peux aider</h3>
<p class="d-flex justify-content-center">"Essayer d'être un arc-en-ciel dans le nuage de quelqu'un" (Maya Angelou)</p>

{{ include('help/_form.html.twig') }}

<button type="button" class="btn btn-light"><a href="{{ path('helps_all') }}">Voir toutes les demandes</a></button>


<button type="button" class="btn btn-light"><a href="{{path('ressource_new')}}">Je partage des documents</a></button>





{% endblock %}