{% extends 'base.html.twig' %}

{% block title %}Toutes les demandes d'aides{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Toutes les demandes</h3>
<p class="d-flex justify-content-center"> </p>
<table class="table">
    <thead>
        <tr>
            {# <th>Id</th> #}
            <th>Description</th>
            <!-- <th>Date</th> -->
            <th><i class="far fa-heart"></th>
            <th><i class="fas fa-download"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for help in helps %}
        <tr>
            {# <td>{{ help.id }}</td> #}
            <td>{{ help.description }}</td>
            <!-- <td>{{ help.date ? help.date|date('d-m-Y') : '' }}</td> -->
            <td><a href="{{path('help_give', {id:help.id})}}">Je peux aider</a></td>
            <td><a href="{{path('ressource_index')}}">Je partage des documents</a></td>
        </tr>
        {% else %}
        {% endfor %}
    </tbody>
</table>
<button class="btn btn-light mt-3"><a href="{{path('help_add') }}">Je fais une demande</a></button>

{% endblock %}