{% extends 'base.html.twig' %}

{% block title %}Je demande de l'aide{% endblock %}

{% block body %}

<h3 class="d-flex justify-content-center">Une nouvelle demande</h3>
<p class="d-flex justify-content-center"> Exprimer votre besoin et vos attentes sur une librairie de technologies déjà
    renseignées.
    C'est à vous ! </p>

{{ include('help/_form.html.twig') }}

<button type="button" class="btn btn-light"><a href="{{ path('helps_all') }}">Voir toutes les demandes</a></button>
<button type="button" class="btn btn-light"><a href="{{ path('technology_new') }}">J'ajoute une tech</a></button>
{% endblock %}