{% extends 'base.html.twig' %}

{% block title %}Help
{% endblock %}

{% block body %}

<h3 class="d-flex justify-content-center">Toutes les demandes</h3>
<p class="d-flex justify-content-center">Sur cette page, vous trouverez toutes les demandes d'aides formulées au sein de
	votre entreprise.</p>
<table class="table">
	<thead>
		<tr>
			{# <th>Id</th> #}
			<th>Description</th>
			<!-- <th>Date</th> -->
			<th>
				<i class="far fa-heart"></th>
			</th>
			<th>
				<i class="fas fa-globe"></th>
			</th>
		</tr>
	</thead>
	<tbody>
		{% for help in helps %}
		<tr>
			{# <td>{{ help.id }}</td> #}
			<td>{{ help.description }}</td>
			<!-- <td>{{ help.date ? help.date|date('d-m-Y') : '' }}</td> -->
			<td>

				<a href="{{path('booking_new')}}">
					<br>
					RDV fixé</a>
			</td>
			<td>
				<i class="fas fa-plus-circle d-flex justify-content-center"></i>
				<a href="{{path('join', {id:help.id})}}">
					<br>
					Je me joins à cette
					demande</a>
			</td>
		</tr>
		{% else %}
		{% endfor %}
	</tbody>
</table>
<button type="button" class="btn btn-light"><a href="{{ path('technology_search') }}">Je recherche une
		demande</a></button>
{% endblock %}