{% extends 'base.html.twig' %}

{% block title %}Help up !
{% endblock %}


{% block body %}

<body>
	{% if app.user %}
	<div class="container-fluid main">
		<div class="row">

			<div class="col-md-6 col-sm-12 cards">
				<a href="{{path('help_add')}}">
					<div class="card border-0 shadow">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">
								<i class="far fa-compass"></i>

							</h5>
							<div class="card-text text-black-50">Je demande de l'aide</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-6 col-sm-12 cards">
				<a href="{{path('helps_all')}}">
					<div class="card border-0 shadow">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">
								<i class="far fa-heart"></i>
							</h5>
							<div class="card-text text-black-50">J'apporte mon aide</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-6 col-sm-12 cards">
				<a href="{{path('help_show')}}">
					<div class="card border-0 shadow">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">
								<i class="fas fa-globe"></i>
							</h5>
							<div class="card-text text-black-50">Je veux rejoindre un groupe</div>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-6 col-sm-12 cards">
				<a href="{{path('booking_new')}}">
					<div class="card border-0 shadow">
						<div class="card-body text-center">
							<h5 class="card-title mb-0">
								<i class="far fa-calendar"></i>
							</h5>
							<div class="card-text text-black-50">Agenda</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!-- /.row -->
	</div>
	{% else %}

	<div class="container">
		<div class="row">
			<p class="col-sm d-flex justify-content-center home-text">Bienvenue sur votre plateforme d'aide
				collaborative.
				<br>
				Ici, vous pouvez demander de l'aide, apporter votre aide et rejoindre un groupe d'aide.
				<br>
				Rejoignez notre incroyable communauté d'entraide !
			</p>

		</div>
	</div>


	{% endif %}

</body>
{% endblock %}