.logo {
    margin: auto;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}

/* .container.main {
    min-height: 500px;
    margin-top: 100px;
} */

body {
    margin-bottom: 290px;
    font-family: 'Montserrat', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
/* .menum {
    background-color: #ff666f;
} */

/* a {
    color: #fff !important;
} */

.nav-item {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    
    text-align: center;
    color: gray;
}

.nav-item a {
    text-decoration: none;
    color: gray;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    /* z-index: 0; */
}

.nav-item button {
    color: gray;
}

#footer {
    background: #EA8B96 !important;
    width: 100%;
    /* position: absolute;
    bottom: auto; */
}

.profilepic {
    max-width: 100%;
    height: auto;
}

#calendar-holder {
    margin-bottom: 40px;
}

.home-text {
    margin-bottom: 325px;
}

.cards {
    padding-bottom: 20px;
}

.container-fluid.main {
    min-height: calc(100vh - 259px - 98px);
}
