{% extends 'base.html.twig' %}

{% block title %}Toutes les tech{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Toutes les technologies</h3>
<p class="d-flex justify-content-center">Nous sommes géniaux, nous avons déjà mis plusieurs technos. Petits veinards !
    <br> </p>
<table class="table">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            <!-- <th>Name</th> -->
        </tr>
    </thead>
    <tbody>
        {% for technology in technologies %}
        <tr>
            <!-- <td>{{ technology.id }}</td> -->
            <td>{{ technology.name }}</td>
        </tr>
        {% else %}

        {% endfor %}
    </tbody>
</table>
<a href="{{ path('technology_new') }}">J'ajoute une tech</a>
{% endblock %}