{% extends 'base.html.twig' %}

{% block title %}Ajouter une tech{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Ajoutez une tech</h3>
<p class="d-flex justify-content-center">Il arrive de ne pas trouver chaussure à son pied... <br> N'hésitez pas, ajoutez
    la technologie nécessaire. <br>Cela pourra
    être utile pour d'autres utilisatrices-eurs.</p>

{{ include('technology/_form.html.twig') }}

<a href="{{ path('technology_index') }}">Voir toutes les tech</a>
{% endblock %}