{% extends 'base.html.twig' %}

{% block title %}Recherchez votre techno
{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Ciblez votre recherche</h3>
<p class="d-flex justify-content-center">Recherchez toutes les demandes concernant une technologie en particulier. <br>
</p>
<div class="row mx-auto">
    <form class="form-inline" method="GET" action="{{path('technology_search')}}">
        <select id="selectCat" class="custom-select" name="selectedCategory">
            <option>Rechercher</option>

            {% for technology in technologies %}
            <option name='{{technology.id}}' value="{{technology.id}}">{{technology.name}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-secondary mx-2">Go</button>
    </form>
</div>
{% if selectedTech %}

{% for help in selectedTech.helps %}
<p>{{help.description}}</p>
{% endfor %}
{% endif %}


{# Faire un if pour que ça affiche le block seulement si on a une selectedTech #}

{# Dans ce if, faire un for sur tous les helps contenus dans la selectedTech #}
{% endblock %}