{% extends 'base.html.twig' %}

{% block body %}

<h3 class="d-flex justify-content-center">Je partage mes documents</h3>

<p class="d-flex justify-content-center">Pour partager des fichiers et les rendre accessibles à tous,
    suivez le guide!</p>

<button><a href="{{path('ressource_new')}}">Je partage des documents</a></button>
<button><a href="{{path('ressource_show')}}">Voir tous les documents
        partagés</a></button>

{% endblock %}