{% extends 'base.html.twig' %}

{% block title %}Partager des documents{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Je partage des documents</h3>
<p class="d-flex justify-content-center">Partagez ici tous les documents qui pourraient aider vos collègues (format .pdf
    uniquement).</p>
{{ include('ressource/_form.html.twig') }}

<button><a href="{{ path('ressource_show') }}">Tous les documents partagés</a></button>
{% endblock %}