{% extends 'base.html.twig' %}

{% block title %}Ressource
{% endblock %}

{% block body %}
<h3 class="d-flex justify-content-center">Tous les documents partagés</h3>
<p class="d-flex justify-content-center">Ne cherchez plus... trouvez le document qui pourrait vous aider !</p>

{% for ressource in ressources %}
<ul>
	<li>
		<a href="{{asset('uploads/'~ressource.ressourceUrl)}}" target="_blank">
			{{ ressource.type }}
	</li>
	</a>
</ul>
{% endfor %}


{% endblock %}