{% extends 'base.html.twig' %}

{% block body %}
{# <a href="{{ path('booking_new') }}">Create new booking</a> #}

<div id="calendar-holder"></div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ce rendez-vous concerne : </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="creator">...</p>
                <p id="description">...</p>
                <p id="technology">...</p>
                <p id="participant"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
{# Mettre la modale bootstrap avec dedans des zones avec id qu'on pourra cibler et modifier via le js #}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        var calendarEl = document.getElementById('calendar-holder');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            defaultView: 'dayGridMonth',
            editable: true,



            plugins: ['interaction', 'dayGrid', 'timeGrid'], // https://fullcalendar.io/docs/plugin-index
            timeZone: 'local',
            eventClick: function (clicked) {
                let help = clicked.event.extendedProps;

                $('#exampleModal').modal();
                // Faire en sorte d'ouvrir la modale avec $('#myModal').modal()  (avec peut être 'open' dans les parenthèses)
                document.querySelector('#creator').textContent = help.creator.username;
                document.querySelector('#description').textContent = help.description;
                document.querySelector('#participant').textContent = ''; //texte à 0
                document.querySelector('#technology').textContent = '';
                for (let part of help.participant) {
                    document.querySelector('#participant').textContent += part.email + ' '; // pr chq tour rajouter le nom du participant
                }

                //querySelector les zones ciblables définie dans la modal plus haut
                for (let tech of help.technologies) {
                    document.querySelector('#technology').textContent += tech.name + ' '; // pr chq tour rajouter le nom du participant
                }
                //créer une variable techno qui contient une string vide puis faire un for...of sur help.technologies et pour chaque tour de boucle, concatener techno.name à la variable créée au début
            }
        });


        calendar.render();
        /*
                function createNode(element) {
                    return document.createElement(element);
                }
        
                function append(parent, el) {
                    return parent.appendChild(el);
                }
        
                const ul = document.getElementById('calendar-holder');*/
        const url = '/api/event';

        fetch(url) // renvoie une promise : un système JS qui récupère des données de manière asynchrone
            .then((resp) => resp.json()) // je parse/"récupère au format" mes données en json
            .then(function (helps) { // le .then permet d'attaquer la réponse quand je la reçoit (asynchrone), je renomme ma réponse json en "helps"

                for (let help of helps) {
                    console.log(help);
                    if (help.date) {
                        calendar.addEvent({ id: help.id, title: help.description, start: new Date(help.date), extendedProps: help })
                    }
                }

// requete HTTP qui récupère des données au format Json dans ce cas et grâce à l'API Fetch de JS qui simplifie les appels Ajax. 


            })
            .catch(function (error) { // d'attraper l'erreur et l'afficher
                console.log(JSON.stringify(error));
            });




    });
</script>
{% endblock %}