<footer class="mt-5  ">
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-12 col-md-12  mt-sm-2 text-white d-flex justify-content-center">
					<p class="h6">&copy Made with passion by Zohra</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 d-flex justify-content-center">
					<ul class="list-unstyled list-inline social">
						<button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#exampleModalScrollable">
							<li class="list-inline-item">
								<i class="far fa-question-circle"></i>
							</li>
						</button>
						<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
							<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalScrollableTitle">Comment HelpUp
																																																																																																			                                            fonctionne ?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<div class="how-section1">
											<div class="row">
												<div class="col-2 how-img">
													<img src="https://cdn.pixabay.com/photo/2013/07/12/16/56/compass-151536_960_720.png
																																																																																																																														                                                        " height="150" width="150" class="rounded-circle img-fluid" alt=""/>
												</div>
												<div class="col-10">
													<h4>J'ai besoin d'aide</h4>
													<p class="text-muted">Dans cette section, vous pouvez demandé de
																																																																																																																														                                                        l'aide en complétant un formulaire.
														<br>Votre demande sera accessible par tous les utilisateurs
																																																																																																																														                                                        connectés.
														<br></p>
												</div>
											</div>
											<div class="row">
												<div class="col-2 how-img">
													<img src="https://cdn.pixabay.com/photo/2017/06/26/20/33/icon-2445095_960_720.png
																																																																																																																														                                                        " height="150" width="150" class="rounded-circle img-fluid" alt=""/>
												</div>
												<div class="col-10">
													<h4>Je peux aider</h4>
													<p class="text-muted">Ici, vous pouvez apporter votre aide. Vous
																																																																																																																														                                                        avez accès à toutes les demandes
																																																																																																																														                                                        formulées et choisir de répondre à celle que vous
																																																																																																																														                                                        pouvez.<br>
														En sélectionnant la demande à laquelle
																																																																																																																														                                                        vous pouvez répondre, vous pourrez fixer un rdv avec la
																																																																																																																														                                                        personne demandeuse. Lors de la création de
																																																																																																																														                                                        ce rdv, vous pourrez fixer un nombre maximale de personnes
																																																																																																																														                                                        qui pourront se joindre à votre rdv.
														<br>
														Vous avez également la possibilité de partager des documents
																																																																																																																														                                                        (au format pdf uniquement). Une fois
																																																																																																																														                                                        téléchargé, les documents sont accessibles à tous les
																																																																																																																														                                                        utilisateurs connectés.
														<br></p>
												</div>
											</div>
											<div class="row">
												<div class="col-2 how-img">
													<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Globe_icon_4.svg/600px-Globe_icon_4.svg.png" height="150" width="150" class="rounded-circle img-fluid" alt=""/>
												</div>
												<div class="col-10">
													<h4>Je recherche un groupe</h4>
													<p class="text-muted">Dans cette partie, vous pouvez vous
																																																																																																																														                                                        greffer à un groupe d'aide, en
																																																																																																																														                                                        choisissant parmi la liste des demandes celles qui vous
																																																																																																																														                                                        correspond.</p>
												</div>
											</div>
										</div>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">J'ai
																																																																																																			                                            compris</button>
									</div>
								</div>
							</div>
						</div>
					</a>
				</li>


				<button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#exampleModal">
					<li class="list-inline-item">
						<i class="fas fa-cogs"></i>
					</li>
				</button>

				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Un problème technique ?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>En cas de bug, veuillez contacter le support technique à tech@helpup.com</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
							</div>
						</div>
					</div>
				</div>
			</li>


			<button type="button" class="btn btn-transparent" data-toggle="modal" data-target="#newModal">
				<li class="list-inline-item">
					<i class="far fa-envelope"></i>
				</li>
			</button>


			<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="newModalLabel">Pour nous contacter</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Des questions ? Des remarques ? Ou tout simplement pour nous dire à quel
																																																																								                                            point vous aimez HelpUp ?
								<br>Ecrivez-nous à love@helpup.com</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div></div></div></section></footer>
