<div class="container-fluid nav">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a href="{{path("home")}}">
                <img src="{{asset('images/LOGO.png')}}" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{path('user_show')}}"><i
                                class="fas fa-user-circle"></i>Mon
                            profil</a></li>
                    <li class="nav-item"><a class="nav-link logout" href="{{path('app_logout')}}"><i
                                class="fas fa-sign-out-alt"></i></i>Se déconnecter</a></li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{path('help_add')}}">Je demande de l'aide</a>
                                <a class="dropdown-item" href="{{path('helps_all')}}">J'apporte mon aide</a>
                                <a class="dropdown-item" href="{{path('help_show')}}">Je veux rejoindre un groupe</a>
                                <a class="dropdown-item" href="{{path('booking_new')}}">Agenda</a>
                            </div>
                        </div>
                    </li>

                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{path('app_login')}}"><i
                                class="fas fa-sign-in-alt"></i>Se
                            connecter</a></li>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{path('register')}}"><i
                                class="fas fa-clipboard-check"></i>S'inscrire</a></li>
                    </li>

                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>
</div>