{% extends 'base.html.twig' %}
{% block title %}Mon compte{% endblock %}
{% block body %}
<h3 class="d-flex justify-content-center">Mes informations</h3>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Photo de profil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.email }}</td>
            <td><img src="{{asset(user.imgPath)}}" srcset="{{asset(user.imgPath)}} 2x"
                    alt="photo de profil de {{user.email}}" class="profilepic"> </td>
        </tr>
    </tbody>
</table>
{% endblock %}